@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryColor: #1a5381;
  --secondaryColor: #ffb200;
  --grayColor: #eff5f5;

  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.ant-layout-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(12deg, #dfeef1 0%, #ffffff 100%) !important;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.ant-layout-header ul {
  display: flex;
  font-size: 18px;
  font-weight: 600;
}

.ant-layout-header ul li {
  margin-right: 50px;
}

.ant-layout .ant-layout-content {
  margin-top: 64px;
}

.heroSection, .projectSection{
  background: linear-gradient(to right, #00222b 0%, #001e3a 100%);
  height: 80vh;
  position: relative;
}

.heroContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.heroContainer img {
  margin-top: 150px;
  animation: heroImgmove 1s;
}

@keyframes heroImgmove {
  0% {
    margin-top: 250px;
    opacity: 0;
  }
  100% {
    margin-top: 150px;
    opacity: 1;
  }
}

.heroTextContainer h1 {
  font-weight: bold;
  font-size: 50px;
  background: -webkit-linear-gradient(
    62deg,
    rgb(255, 255, 255),
    rgb(191, 224, 255)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heroTextContainer h3 {
  margin-top: 16px;
  font-weight: bold;
  font-size: 28px;
  background: -webkit-linear-gradient(
    62deg,
    rgb(255, 255, 255),
    rgb(159, 241, 255)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heroTextContainer p {
  font-family: var(--font-mono);
  margin-top: 16px;
  font-weight: 500;
  letter-spacing: 1.2px;
  font-size: 20px;
  background: -webkit-linear-gradient(
    62deg,
    rgb(255, 255, 255),
    rgb(159, 241, 255)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heroTextContainer div {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  background: -webkit-linear-gradient(
    62deg,
    rgb(255, 255, 255),
    rgb(159, 241, 255)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  font-weight: 500;
}

.heroTextContainer button {
  width: 200px;
  height: 50px;
  margin-top: 20px;
  color: var(--secondaryColor);
  font-weight: 700;
  border-color: var(--secondaryColor);
}

.whatWeDoSection {
  background: linear-gradient(22deg, #f1dfdf 0%, #ffffff 100%);
  height: auto;
  position: relative;

}

.whatWeDo {
  padding: 80px 100px;
}

.ant-card-bordered {
  box-shadow: 0px 2px 10px #fbebc5;
  border: 1px solid #ffebbd;
  border-radius: 0 0 8px 8px;
}

.whatWeDo h3 {
  font-size: 24px;
  font-weight: 500;
  color: rgb(97, 97, 97);
}

.whatWeDo .coreServices {
  font-size: 40px;
  font-weight: 700;
  color: var(--primaryColor);
  margin-bottom: 24px;
}

.whatWeDo span {
  font-weight: 800;
  font-size: 36px;
  line-height: 55px;
  color: #e9e6e6;
}

.whatWeDo .servicesLabel {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #000810;
}

.whatWeDo .servicesDescriptions {
  margin: 8px 0 0 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: var(--primaryColor);
}

